<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gérer les mots de passe - Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Création d'un coffre fort</h1>
    <form action="/creation" method="post">
        <label for="text">Nom du coffre fort :</label>
        <input type="text" id="text" name="text" required><br/><br/>
        <label for="password">Mot de passe du coffre fort :</label>
        <input type="password" id="password" name="password" required><br/><br/>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>