<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le mot de passe - Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Modifier le mot de passe</h1>
    <form action="/edit_password" method="post">
        <label for="text">Site :</label>
        <input type="text" id="text" name="text" required><br/><br/>
        <label for="password">Nouveau mot de passe :</label>
        <input type="password" id="password" name="password" required><br/><br/>
        <button type="submit">Modifier</button>
    </form>
     <!-- Liste des mots de passe -->
     <h2>Liste des mots de passe :</h2>
     <ul>
         <li>Mot de passe 1 <a href="#">Modifier</a> <a href="#">Supprimer</a></li>
         <li>Mot de passe 2 <a href="#">Modifier</a> <a href="#">Supprimer</a></li>
         <!-- Ajoutez dynamiquement les autres mots de passe ici -->
     </ul>
</body>
</html>