<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Bienvenue sur le Gestionnaire de Mots de Passe !</h1>
    <p>Que souhaitez-vous faire ?</p>
    <ul>
        <li><a href="/login">Ouvrir un coffre-fort existant</a></li>
        <li><a href="/creation">Créer un nouveau coffre-fort</a></li><br/>
        <form action="/import" method="post" style="display: inline;" enctype="multipart/form-data">
            <input type="file" name="file" id="file" />
            <input type = "submit" value="Importer le coffre fort">
        </form>
    </ul>
</body>
</html>