<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le mot de passe - Gestionnaire de Mots de Passe</title>
</head>
<body>
    <h1>Modifier le mot de passe</h1>
    <form action="/modifier_mot_de_passe" method="post">
        <input type="hidden" name="nomcoffre" value="{{ nomcoffre }}">
        <input type="hidden" name="site" value="{{ site }}">
        <label for="password2">Nouveau mot de passe :</label>
        <input type="password" id="password2" name="password2" required><br/><br/>
        <button type="submit">Modifier</button>
    </form>
</body>
</html>